.color-me{
  color: green;
   font-size: .9em !important;
   line-height: 1rem !important;
   padding: 0 !important;
   margin:0 !important;
}

.canvas-size{
            height: 200px !important;
            width: 200px !important;
        }

.very-small{
  font-size: 8px !important;
  margin:0 !important;
  padding: 0 !important;
  position: relative;
  background-color:gray;
  box-sizing: border-box;
  float: right !important;
}

.size-10{
  font-size: 1.2em !important;
  font-weight: 900;
}
.size-08{
  font-size: 1em !important;
  font-weight:500 !important;
}

#dealschartOne {
  margin: 20px;
  width: 300px;
  height: 5px;

}
 #dealschartTwo{
 margin: 20px;
  width: 300px;
  height: 5px;

 }
 #dealschartThree{
 margin: 20px;
  width: 300px;
  height: 5px;
  
 }

   #dealschartFour{
      margin: 20px;
  width: 300px;
  height: 5px;
   }

.card-left{
  margin-left: 8.2rem !important;
  margin-right: 0 !important;
}
.card-middle{
  margin-left: 2.9rem !important;
  margin-right: 2.9rem !important;
}
.card-right{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
